.main {
}

.weather__text {
  /* Use the same font and color as the rest of the page */
  font-family: "Cabinet Grotesk", sans-serif;
  color: #000;
}

.main__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
