@import url(./vendor/normalize.css);

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("./vendor/CabinetGrotesk-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("./vendor/CabinetGrotesk-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("./vendor/CabinetGrotesk-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("./vendor/CabinetGrotesk-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
